.headercolor{
  background-color:#3D5A6C;
  padding: 2px;
  margin: auto;
  position: absolute;
     left: 0;
     right: 0;
     top:0;



}
h1 {
  font-family: 'Comic Sans MS';
  font-size: 50px;
  text-align: center;
  letter-spacing: 20px;
  color: #FFFFFF;

}
h2 {
  font-family: 'Comic Sans MS';
  font-size: 30px;
  text-align: center;
  letter-spacing: 2px;
  color: #FFFFFF;
  height: 25px;

}

h3 {
  color: #FFFFFF;
  font-family: 'Comic Sans MS';
  font-size: 20px;
  text-align: center;
  letter-spacing: 2px

}

.maincolor{
  background-color:#c5d4de;
  marigin:auto;
  padding: 50px;


}

hr{

}
.imgsizing{
  width: 1000;
  padding-top: 100px;

}


.center {
  margin: auto;
  width: 50%;
  padding: 100px;
}


main p {
  font-size:20px;
  text-align: left;
  width: 70%;
  font-family: Georgia;
  color:#365a73;
}



main h1 {
  font-family: Comic Sans MS;
  font-size: 30px;
  text-align: center;
  letter-spacing: 2px;
  color:#365a73;

}
main h2 {
  font-family: Comic Sans MS;
  font-size: 30px;
  text-align: center;
  letter-spacing: 2px;
  color:#365a73;

}
ul {
  margin: 0;
  padding: 0;
  color:#365a73;


}
li{
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: left;


}


a:link {
  color: red;
}

a:visited {
  color: green;
}

a:hover {
  color: hotpink;
}

a:active {
  color: blue;
}

.footercolor{
  background-color:#3D5A6C;
  padding: 1px;
  margin: auto;
  position: absolute;
     left: 0;
     right: 0;
     bottom: 5;


}
